{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "impliedStrict": true
    }
  },
  "env": {
    "node": true
  },
  "rules": {
    "comma-dangle": ["error", "never"]
  }
}
